

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
  }
  @media screen and (min-width: 375px) {
    .container {
      max-width: 375px;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding: 0 100px;
    }
  }





.aboutus {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    /* background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/aboutus/elements.png) ;   */
    background-repeat: no-repeat;
    background-size: cover; 
	margin: 40px auto;
	position: relative;
    
}
.aboutus img {
    width: 100%;}



   
    @media (min-width: 1280px) {
        .aboutus-list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            
        }
       
        .aboutus-img {
            min-width: 594px;
            height: 545px;
            
        } 
        
        .aboutus-main {
            display: block;
            margin-top: 45px;
            margin-bottom: 45px;
            margin-right: 50px;
           
            
        } 

        
    }  


  



/* @media screen and (max-width: 767px) {
    .aboutus {
        
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/aboutus/aboutusmobile.jpg');
    }

    
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (max-device-pixel-ratio: 2) and (max-width: 767px) {
    .aboutus {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/aboutus/aboutusmobile2x.jpg');
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .aboutus {
        
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/aboutus/aboutustablet.jpg');
    }

    
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px),
screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1279px),
screen and (max-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1279px) {
    .aboutus {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/aboutus/aboutusmobile2x.jpg');
    }
}

@media screen and (min-width: 1280px) {
    .aboutus {
        
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/aboutus/aboutus.jpg');
    }

   

}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (max-device-pixel-ratio: 2) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url('../images/aboutus/aboutus2x.jpg');
    }
} */


.aboutus-title {
    color: rgba(252, 249, 249, 1);
    font-weight: 500;
    font-size: 32px;
   	line-height: 1.4;
	letter-spacing: 0.03em;
	margin-bottom: 40px;
}
	
.aboutus-text {
    display: block;
    color: rgba(252, 249, 249, 0.4);
    font-weight: 400;
    font-size: 14px;
	line-height: 1.4;
	letter-spacing: 0.04em;
    margin-bottom: 50px;
	
}
.one {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
	.aboutus-title {
		font-size: 44px;
		line-height: 1.45;

    	
	}
    .aboutus-text {
        font-size: 16px;
	    line-height: 1.4;
    }
}



































